snippet _.forEach "lodash _.forEach(iteree,(value,key)=>{...}" b
_.forEach(${1:${VISUAL:iteree}},(${2:value},${3:key}) => {
	$4
})
endsnippet

snippet _.forEachRight "lodash _.forEachRight(iteree,(value,key)=>{...}" b
_.forEachRight(${1:${VISUAL:iteree}},(${2:value},${3:key}) => {
	$4
})
endsnippet

snippet _.map "lodash _.map(iteree,(value,key)=>{...}" b
_.map(${1:${VISUAL:iteree}},(${2:value},${3:key}) => {
	$4
})
endsnippet
